body {
    margin: 0;
    padding: 0;

}

a.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    background: linear-gradient(to right, #E34A40, #F3A712);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: cursive;
    font-weight: 700;

}

nav.main-navigation {
    position: relative;
    background-color: #353535;


}

nav.main-navigation ul.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    text-align: left;
}

.nav-list li.nav-list-item {
    display: inline-block;
    line-height: 40px;
    margin-left: 30px;
    margin-top: 15px;
}

a.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    background: linear-gradient(to right, #E34A40, #F3A712);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
        -webkit-transition-duration: 0.8s;
        transition-duration: 0.8s;
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }


    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        pointer-events: auto;
        transition: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.nav-list li {
    animation: FadeIn 1s cubic-bezier(0.65, 0.05, 0.36, 1);
    animation-fill-mode: both;
}

.nav-list li:nth-child(1) {
    animation-delay: .3s;
}

.nav-list li:nth-child(2) {
    animation-delay: .6s;
}

.nav-list li:nth-child(3) {
    animation-delay: .9s;
}

.nav-list li:nth-child(4) {
    animation-delay: 1.2s;
}

.nav-list li:nth-child(5) {
    animation-delay: 1.5s;
}
.nav-list li:nth-child(6) {
    animation-delay: 1.8s;
}
.nav-list li:nth-child(7) {
    animation-delay: 2s;
}

/* Animation */

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
a.nav-link:hover{
    background: linear-gradient(to left, #E34A40, #F3A712);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login_btn , .signup_btn{

    float: right;
}

.dark-light{

    position: absolute;
    -webkit-text-fill-color: transparent;
    background: transparent;

}

.male{
    background: transparent;
    width: 20px;
    height: 20px;
    -webkit-text-fill-color: transparent;

}


.onoffswitch {
    position: relative; width: 81px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 26px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 27px; padding: 0; line-height: 27px;
    font-size: 14px; color: black; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Noc";
    padding-left: 9px;
    background-color: #D66000; color: black;
}
.onoffswitch-inner:after {
    content: "Dzień";
    padding-right: 9px;
    background-color: #EEEEEE; color: #000000;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 15px; margin: 6px;
    background: #828282;
    position: absolute; top: 0; bottom: 0;
    right: 50px;
    border: 2px solid #999999; border-radius: 26px;
    transition: all 0.3s ease-in 0s;
    color: black;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
