
body {
    background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/dark_wall.png);
    color: darkgray;
}

.footer-classic{

    background-color: #353535;
    height: 250px;
}

.content{

    min-height: calc(65vh - 70px);
}